{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        "dynamic-import-node",
        [
            "babel-plugin-root-import",
            {
                "rootPathSuffix": "src",
                "rootPathPrefix": "/"
            }
        ]
    ]
}
